
@{
    ViewData["Title"] = "Confirm";
}
<div class="mx-auto rounded border p-4 shadow" style="width: 450px">
    <h2 class="text-center mb-3 text-secondary">Order Details</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
        @if(ViewBag.PaymentMethod!=null && (ViewBag.PaymentMethod=="stripe" || ViewBag.PaymentMethod == "credit_card"))
        {
            <div class="d-flex justify-content-between ">
                <a asp-action="Checkout" asp-controller="Payment" class="btn btn-outline-light text-dark text-nowrap">
                    <i class="bi bi-bag-check-fill me-2"></i>
                    Checkout</a>
                <a class="btn btn-outline-primary text-nowrap" asp-controller="ClientOrders" asp-action="Index">
                    <i class="bi bi-arrow-left me-2"></i>
                    Back to Orders
                </a>

            </div>
        }
        else
        {
            <a class="btn btn-outline-primary text-nowrap" asp-controller="ClientOrders" asp-action="Index">
                <i class="bi bi-arrow-left me-2"></i>
                Back to Orders
            </a>
        }
    }
    else
    {
        <div class="row mb-3">
            <div class="col-5">Delivery Address</div>
            <div class="col-7">@ViewBag.DeliveryAddress</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Payment Method</div>
            <div class="col-7">@ViewBag.PaymentMethod</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Total Amount</div>
            <div class="col-7">@(ViewBag.Total)$</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Quantity</div>
            <div class="col-7">@(ViewBag.CartSize)</div>
        </div>


        <form method="post">
            <div class="row">
                <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                <div class="col-sm-6 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Cart" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    }

</div>

